/*                                general                                   */
header {
    display: none;
}
main{
    text-align: left;
}
img {
    margin: 20px 0 10px 30px;
    height: 48px;
    width: 48px;
}
li {
    font-size: 0.8em;
    list-style: none;

}
footer {
    display: none;
}
/*             section en-tete              */
h2,
main section:first-child p {
    margin: 20px;
}
#temperature {
    font-size: 2.5em;
    color: #890C99;
}
.enTete {
    float: left;
    width: 30%;
    height: 90px;
}
/*            section journalier              */
.border {
    width: 96%;
    margin: auto;
    border: 1px solid rgb(169, 169, 169);
    clear: both;
}
.jour article{
    float: left;
    width: 22%;
}
.date {
    margin: 30px 0 0 10px;
    font-weight: bold;
}
.jour article:nth-child(2) img,
.jour article:nth-child(3) p{
    margin: 10px;
}
.bold{
    font-weight: 600;
    
}
.jour article:nth-child(4) p{
    margin: 25px 0 0;
}

/*                         responsive                              */
@media (min-width: 650px ){
    main section:first-child {
        width: 70%;
    }
    ul {
        margin-top: 15px;
    }
}
    @media (min-width: 1180px ){
        header {
            display: block;
        }
      
    footer{
        display: block;
    }
    section {
        width: 14%;
        float: left;
    }
    .jour article{
        text-align: center;
        float: none;
        width: 100%;
    }
    .date {
        margin-left: 0;
    }
    .border {
        clear: none;
        width: 0px;
        height: 250px;
    }
    main section:nth-child(2) {
        clear: bold;
        width: 96%;
        height: 30px;
        border: none;
    }
    section:last-child {
        display: none;
    }
}