/*                                          General page Web                                */
header {
    display: none;
}
section {
    margin: 10px 1.6%;
    background-color: rgb(145, 145, 145);
    text-align: justify;
}
/*                               responsive                                */

@media screen {
    footer {
        display: none;
    }
    
}
@media (min-width: 640px) {

    .containers {
        float: left;
        width: 30%;
    }
}
@media (min-width: 800px) {
    header{
        display: block;
    }
}
