/*----------------------------------------GENERAL------------------------------------*/
* {
    margin: 0;
    text-align: center;
    color: rgb(29, 29, 29)
    ;
}
h1 {
    line-height: 80px;
}
header {
    background-color: red;
    height: 140px;
    position: relative;

}
nav{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav li a  {
    display: inline-block;
    text-decoration: none;
    padding: 19px;
    font-size: 1.2em;
    font-weight: 600;
    
}
#pageActu {
    font-weight: 700;
    color: rgb(29, 29, 250);

}
nav li a:hover {
    background-color: rgb(0, 89, 255);
    transition: 0.5s;
}
/*                    Footer                      */
footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    background-color: black;
    width: 100vw;
    line-height: 70px;
}
footer h3{
    color: #890C99;
    
}


